@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;

}
.cookies-hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, height 0.3s ease;
}
.font-kristi{
  font-family: 'Kristi', cursive;
}
.font-lato{
  font-family: 'Lato', sans-serif;
}
.shadow-element{
  box-shadow: 1px 1px  40px rgba(0, 0, 0, 0.2);
}
.flex-g{
  flex-grow: 1;
}
.img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
.swiper{
  overflow-y: hidden !important;
  height: 40vh !important;
  padding: 10px 0px;

}
.swiper-pagination{
  bottom: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet-active{
  background-color: black !important;
  padding: 7px;
}
/* Sidebar.css */
.sidebar {
  width: 0;
  height: 100vh;
  background-color: black;
  transition: width 0.3s ease-out;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
}

.sidebar.open {
  z-index: 100;
  width: 70%; /* Adjust the width as needed */
}
.move{
  transform: translateX(-265px);
}
.content{
  transition: width 0.2s ease-in;

}
.bg-gradients{
  background-image: (rgba(0,0,0,.5) 0%,rgba(0,0,0,.4) 10%,rgba(0,0,0,.3) 35%,transparent 97%,transparent 0%);
}
.hover-element:hover .show{
    opacity: 1;
    background: #000;
    width: 220px;
    height: auto;
    transition: width 0.2s ease-in;
  
}
.hover-element{
  padding: 20px;
}
.show{
  opacity: 0;
  transition: width 0.2s ease-in;
  top: 60px;
  left: -20px;

}
.reveal {
  
  opacity: 0;
  transform: translateX(-100px);
  transition: width 0.2s ease-in;
}

.reveal.active {
  opacity: 1;
  transform: translateX(0);
  transition: width 0.2s ease-in;

}

